body > header {
    border: 1px solid goldenrod;   
}
header > nav > ul > li {
    display: inline;
}
a {
    color: blue;
}
li .disabled {
    color: purple;
}
li:last-child {
    color: purple;
}
li > span.disabled {
    color: grey;
}
.active {
    color: #c2a90f;
}
.parent > div:first-of-type > div:first-of-type {
	color: red;
}
.parent > div:first-of-type > div:nth-of-type(2) {
	color: blue;
}
.parent > div:first-of-type > h4:first-of-type {
	background-color: red;
}
.parent > div:first-of-type > h4:nth-of-type(2) {
    background-color: blue;
    color: grey;
}
.grandparent > h4:last-of-type {
    border: 1px solid red;
    border-radius: 5px;
} 
.promo {
    font-weight: bold;
    color: gold;
}
input[type="text"],
input[type="tel"] {
    height: 25px;
}